
/* --- デバイス共通デザイン --- */
body {
  font-family: 'メイリオ' , monospace;
  margin: 0 auto;
  height: 100vh;
  width: 96vw;
}
.header {
  position: relative;
  margin: 0;
  left: 0;
  top: 0;
  height: 10vh;
  /* background-color: rgb(200, 200, 255); */
  background: linear-gradient(-45deg, rgba(246, 255, 150, .2), rgba(255, 80, 161, .2)),url("../img/top_menu_1.jpg");
  background-repeat:  no-repeat;  /* 背景の繰り返し設定 */
  background-position: top;    /* 背景の位置指定 */
  background-size: cover;
  /* box-shadow: 0 2px 6px rgba(0,0,0,.3); */
  z-index: 900;
}
.main_body {
  position: relative;
  display: block;
  margin: 0px auto;
  padding-top: 30px;
  height: 80vh;
  /* background-color: rgba(90, 90, 90, 0.3); */
  /* background: linear-gradient(-45deg, rgba(200, 200, 200, .7), rgba(200, 200, 200, .7)), url("../img/top_menu_1.jpg"); */
  background-repeat:  no-repeat;  /* 背景の繰り返し設定 */
  background-position: center;    /* 背景の位置指定 */
  background-size: cover;
  z-index: 800;

}
.footer {
  margin: 0;
  padding: 0;
  width: 96vw;
  height: 10vh;
  /*background-color: rgba(120, 90, 90, 0.6);*/
  background-color: hsl(30, 100%, 85%);;
  z-index: 700;
}
.header .title {
  font-family: 'arial black';
  font-size: 25px;
  display: block;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  letter-spacing: 2px;
  color: white;
  /* border-bottom: ridge 5px rgb(140, 80, 80); */
  text-align: center;
}

/*** ---タイトル部の文字デザイン--- ***/
.header .title .high_light_letter:first-of-type {
  font-size: 32px;
  font-weight: bold;
  /* color: rgb(140, 170, 255); */
  text-shadow: 0px 4px 4px rgb(140,140,140);
}
.header .title .high_light_letter:nth-of-type(2) {
  font-size: 32px;
  font-weight: bold;
  /* color: rgb(140, 170, 255); */
  text-shadow: 0px 4px 4px rgb(140,140,140);
}
.header .title .high_light_letter:nth-of-type(3) {
  font-size: 32px;
  font-weight: bold;
  /* color: rgb(140, 170, 255); */
  text-shadow: 0px 4px 4px rgb(140,140,140);
}
